body {
    background-color: #232323;
    color: white;
}

#choice-section {
    margin: 0 auto;
    width: 600px;
}

.square {
    background-color: coral;
    padding-bottom: 30%;
    margin: 1.66%;
    width: 30%;
    float: left;
}

