body {
    background-color: #232323;
}

h1 {
    color: white;
}

#menu {
    background-color: white;
    height: 30px;
    text-align: center;
}

#choice-section {
    margin: 0 auto;
    width: 600px;
}

.square {
    background-color: coral;
    padding-bottom: 30%;
    margin: 1.66%;
    width: 30%;
    float: left;
}

